body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e8e5e5;
}
header {
    background-color: rgb(56, 103, 153);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px; 
    margin: 0 830px 0 190px;
}
.logo {
    margin-right: 100px; 
}
.logo a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    font-size: 25px;
}


  .search {
    display: flex;
    align-items: center;
    background-color: rgb(51, 66, 109);
    padding: 2px;
    border-radius: 20px;
  }
  
  .search input {
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(51, 66, 109);
  }
  
  .search-icon {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    cursor: pointer;
    margin-bottom: 3px;
  }
  .search-icon img {
    width: 100%;
    height: auto;
  }

  .container {
    display: flex;
    justify-content: center;
}

.sidebar {
    height: 100%;
    width: 200px;
    
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 8px;
    text-align: left;
  }
  
  .sidebar a {
    text-decoration: none;
    color: rgb(91, 91, 92);
    font-size: 16px;
  }
  .content {
    
    padding: 16px;
    display: flex;
    
  }
  
  .friends-block {
    width: 500px;
    background-color: #fff;
    border-radius: 4px;
  }
  
  .friends-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c6d5df;
    padding: 8px 16px;
    border-radius: 4px 4px 0 0;
  }
  
  .friends-count,
  .online-count,
  .find-friends {
    font-size: 0.9em;
    color: #2a3f4e;
    display: flex;
  }
  
  .blue-button {
    background-color: rgb(56, 103, 153); 
    color: #fff; 
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .blue-button:hover {
    background-color: #2980b9; 
  }
  
  .search-friend {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  .search-input {
    flex-grow: 1;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px;
  }

  .friend-list {
    display: flex;
    flex-direction: column;
  }
  
  .friend {
    display: flex;
    justify-content: space-between;
  }
  .info {
    display: flex;
    align-items: center;
    padding: 16px;
  }
  
  .friend-image {
    width: 70px;
    height: 70px;
    background-color: #ddd;
    border-radius: 50%;
    margin-right: 16px;
    overflow: hidden;
  }
  .friend-image img {
    width: 100%;
    height: auto;
  }
  .friend-details {
    flex-grow: 1;
  }
  
  .friend-name {
    font-size: 14px;
    font-weight: bold;
  }
  
  .friend-info {
    font-size: 0.8em;
    color: #555;
    margin-bottom: 4px;
  }

  .message {
    font-size: 0.8em;
    color: #3498db;
    margin-bottom: 4px;
  }
  .options {
    font-size: 1.5em;
    color: #3498db;
    cursor: pointer;
    padding: 0 16px;
  }
  

  .line {
    border-top: 1px solid #ccc;
  }
  
  .block-2 {
    margin: 0 12px;
}

  .friend-list-block {
    width: 280px;
    background-color: #fff;
    border-radius: 4px;
    padding: 5px 16px;
  }
  
 .styled-list .dropdown {
    border: none;
    font-size: 14px;
    color: #555;
  }

  .possible-friends-block {
    margin-top: 10px;
    width: 280px;
    background-color: #fff;
    border-radius: 4px;
    padding: 16px;
  }
  
  .possible-friends-header {
    color: #12496d;
    margin-bottom: 16px;
  }

  .friend-item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .possible-friend-image {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    border-radius: 50%;
    margin-right: 12px;
    overflow: hidden;
  }
  .possible-friend-image img{
    width: 100%;
    height: auto;

  }
  
  .friend-details {
    flex-grow: 1;
  }
  
  .friend-name {
    font-size: 14px;
    margin-bottom: 2px;
  }
  
  .mutual-friends,
  .add-friend {
    font-size: 0.8em;
    color: #555;
    margin-bottom: 2px;
  }
  
  .add-friend {
    color: #3498db;
    cursor: pointer;
  }

  .friend-list-block ul {
    margin-block-start: 5px;
    margin-block-end: 5px;
  }
  .styled-list {
    list-style: none;
    padding: 0;
  }
  
  .styled-list li {
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #555;
  }
  .dropdown:hover {
    background-color: #c6d5df;
  }
  .styled-list li:hover {
    background-color: #c6d5df; 
  }